@use '../variables';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap; // comando para dizer ao css se o texto do elemento deve ou não quebrar a linha

    &--primary {
        color: #fff;
        background-color: variables.$purple;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center; // alinha o elemento na vertical
    }
}